@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.fw-bolder {
  font-size: 20px !important;
}

body {
    font-family: 'Inter', sans-serif !important;
}

.table > :not(:last-child) > :last-child > * {
    font-weight: 600;
}

.text-gray-800 {
    color: #252f4a !important;
    font-weight: 600;
}

.page-heading {
  display: inline !important;
}

.table > :not(:last-child) > :last-child > * {
    color: #98a1b7;
}

.page-link:hover {
    color: #5a49f8;
    background-color: #f2f1ff;
}


#page-id3 .text-dark:hover {
    color: #4235bb !important;
}
    

.flatpickr-day:hover {
    background: #f2f1ff;
    color: #5a49f8;
}

a:hover {
    color: #4235bb;
}

.col-mybutton .form-check.form-check-custom.form-check-sm .form-check-input {
    top: -3Px;
    position: relative;
}

.svg-icon.svg-icon-primary svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.form-check.form-check-solid .form-check-input:checked {
    background-color: #5a49f8;
}

.aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.btn.btn-primary {
    border-color: #5a49f8;
    background-color: #5a49f8;
}

.btn.btn-primary:hover:not(.btn-active) {
    background-color: #5040de !important;
}

@media only screen and (min-width: 992px) {
.contactform {
  margin-left: 200px !important;
  margin-right: 200px !important;
}
}


.fw-bolder {
    font-size: 17.5px !important;
}

.symbol .symbol-label {
    color: #5a49f8 !important;
    background-color: #5a49f814;
}

.btn.btn-color-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.btn-check:active + .btn.btn-active-light-primary, .btn-check:checked + .btn.btn-active-light-primary, .btn.btn-active-light-primary.active, .btn.btn-active-light-primary.show, .btn.btn-active-light-primary:active:not(.btn-active), .btn.btn-active-light-primary:focus:not(.btn-active), .btn.btn-active-light-primary:hover:not(.btn-active), .show > .btn.btn-active-light-primary {
    color: #5a49f8;
    background-color: #5a49f814 !important;
}

.symbol .symbol-label:hover {
    color: #ffffff !important;
    background-color: #5a49f8 !important;
}

.btn.btn-active-light-primary.btn-outline:not(.btn-outline-default) {
    border-color: #5a49f8 !important;
}

.btn.btn-active-primary.active  {
    background-color: #5a49f8 !important;
}

.scrolltop {
    background-color: #5a49f8;
}

.scrolltop:hover {
    background-color: #5a49f8;
}

.fs-6 {
    font-size: 14px !important;
}

.text-muted {
    color: #7e8299 !important;
    font-size: 14px;
}

#kt_profile_details_view .text-gray-800 a {
    color: #009ef7 !important;
}


#kt_profile_details_view  .text-gray-800 {
    font-weight: 500 !important;
}


#kt_ecommerce_sales_table .text-hover-primary:hover {
    color: #252f4a !important;
}

#kt_table_customers_payment .sorting_1 {
    font-weight: 600;
    color: #252f4a !important;
}

#kt_table_customers_payment .mytablecss a {
    font-weight: 600;
    font-size: 15Px;
}

.payment-company {
    font-size: 15px !important;
}

.detail-title {
    font-size: 15px !important;
}

.detail-content {
    font-size: 14px !important;
}

.mybreadcrumbs {
    font-size: 15Px;
    font-weight: 500;
}

.dlead-title {
    font-size: 15Px !important;
}

.dlead-content {

}

.dlead-sub {

}

.buttonservice {
    font-size: 13px !important;
}

.service-title-2  {
    margin-top: 15px;
    margin-bottom: 16px;
}

.service-title-1  {
    font-size: 17.5px !important;
}

.h2, h2 {
    font-size: 17.5px !important;
}

.aside-dark .menu .menu-item .menu-link .menu-title {
    font-size: 14px;
}

.myseparator {
    margin-top: 1rem !important;
    margin-bottom: 1.9rem !important;
}

.hover-kontakt {
    color: #5a49f8 !important;
}

.hover-kontakt:hover {
    color: #483bc6 !important;
}

#page-id13 .ms-lg-15 {
    margin-left: 2.25rem !important;
}

.p-6 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.min-w-125px {
    min-width: 100px !important;
}

.nolead {
    margin-bottom: 9px;
}

.card .card-header {
    border-bottom: 0px solid #eff2f5 !important;
}


#page-id10 .card .card-body {
    padding-bottom: 30px !important;
    padding-top: 0px !important;
}


#page-id13 .card {
    padding-top: 0px !important;
}

#page-id13 .pt-15 {
    padding-top: 30px !important;
    padding-bottom: 10px !important;
}

#page-id2 .card .card-body {
    padding-top: 20px !important;
    padding-bottom: 30px !important;
}

#page-id14 .card .card-body {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

#page-id14 .mb-xl-12 {
    margin-bottom: 15px !important;
}

#page-id14 .card-header {
    padding-bottom: 0px !important;
}

#page-id14 .card.card-flush > .card-header {
    padding-left: 15px !important;
    padding-top: 15px !important;
}


#page-id3 .table.gy-5 td, .table.gy-5 th {
    padding-left: 0px;
}

#page-id12 .card .card-body {
    padding-bottom: 0px !important;
padding-top: 0px !important;
}

#page-id12 .card {
    margin-bottom: 0px !important;
}

#page-id14 .mt-3 {
    margin-top: 0 !important;
}

#page-id14 .p-5 {
    padding-top: 30px !important;
    padding-left: 15px !important;
}

#page-id14 .card .card-body {
    padding-left: 15px;
    padding-right: 15px;
}

#page-id14 .card.card-flush > .card-header {
    padding-left: 15px !important;
}

#page-id33 .mt-3 {
    margin-top: 0 !important;
    margin-bottom: 20px;
}

#page-id25 .mt-3 {
    margin-bottom: 20px;
}

#page-id8 .mt-3 {
    margin-bottom: 20px;
}


#page-id33 .p-5 {
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

#page-id33 .mb-2 {
    padding-left: 7.5px;
}

#page-id33 .mb-xl-12 {
    margin-bottom: 0 !important;
}

#page-id10 .text-green {
    margin-top: 23px;
    font-weight: 400;
}


.mylead-mobil {
    padding-bottom: 5px;
}

#page-id14 .card .card-header {
    min-height: 40px;
}

#page-id33 .card .card-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px !important;
    padding-bottom: 7px !important;
}


#page-id33 .card.card-flush > .card-header {
    padding-left: 15px !important;
    padding-top: 0px !important;
}

#page-id33 .card .card-header {
    min-height: 16px;
}


#page-id13 .w-75px {
    color: #181c32;
}

#page-id13 .w-50px {
     color: #181c32;
}

#page-id17 .card .card-body {
    padding-top: 20px !important;
}

#page-id5 .card .card-body {
    padding-top: 21px !important;
    padding-bottom: 30px !important;
}

#page-id19 .p-12 {
    padding-top: 23px !important;
    padding-bottom: 0px !important;
}

#page-id5 .card .card-body {
    padding-top: 23px !important;
    padding-bottom: 30px !important;
}

#page-id18 .card .card-body {
    padding-top: 23px !important;
    padding-bottom: 30Px !important;
}

#page-id3 .card .card-body {
    padding-top: 23Px !important;
    padding-bottom: 15px !important;
}

#page-id7 .card .card-body {
    padding-top: 23px !important;
}

#page-id3 .mb-xl-8 {
    margin-bottom: 0px !important;
}

#page-id22 .card .card-body {
    padding-top: 23px !important;
    padding-bottom: 30px !important;
}

#page-id22 .fs-6 {
    padding-top: 10px;
}

#page-id23 .card .card-body {
    padding-top: 23px !important;
}

#page-id23 .p-9 {
    padding-bottom: 0px !important;
}


#page-id26 .card .card-body {
    padding-bottom: 15px;
}

#page-id16 .card .card-body {
    padding-top: 23px !important;
    padding-bottom: 0px !important;
}

#page-id16 .fw-bolder {
    padding-bottom: 10px;
}

#page-id28 .card .card-body {
    padding-top: 23px !important;
}


#page-id29 .p-9 {
    padding-bottom: 0px !important;
padding-top: 0px !important;
}

#page-id29 .mb-10 {
    margin-bottom: 12px !important;
}

#page-id19 .btn.btn-primary {
    font-size: 1.1rem;
    padding-top: 10.7px !important;
    padding-bottom: 10.7px !important;
}

.dashboardinitial {
    font-size: 60px !important;
}


.text-danger {
    font-weight: 400;
color: red !important;
}

 .text-red {
    font-weight: 400;
color: red !important;
}

.mycard {
    display: none !important;
}

.mycontent {
    padding-top: 0px !important;
}

.myavatar .symbol-label {
color: #ffffff !important;
background-color: #5a49f8 !important;
}


.text-hover-primary:hover .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.myavatar .symbol-label:hoverl {
color: #5a49f8 !important;
background-color: #5a49f814 !important;
}

.btn.btn-active-light-success:hover:not(.btn-active) {
    color: #5a49f8;
    background-color: #f2f1ff !important;
}

.btn.btn-active-light-success:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.text-hover-primary:hover {
    color: #5a49f8 !important;
}


.menu-state-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    color: #5a49f8;
}

.menu-state-bg .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here), .menu-state-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: rgb(242 241 255);
}


#page-id25 .content {
    padding-bottom: 0px;
}

.menu-state-bg-light-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background-color: #f2f1ff;
    color: #5a49f8;
}

.btn-check:active + .btn.btn-primary, .btn-check:checked + .btn.btn-primary, .btn.btn-primary.active, .btn.btn-primary.show, .btn.btn-primary:active:not(.btn-active), .btn.btn-primary:focus:not(.btn-active), .btn.btn-primary:hover:not(.btn-active), .show > .btn.btn-primary {
    background-color: #4e3ede !important;
}

.btn.btn-light-primary {
    color: #5a49f8;
    background-color: #f2f1ff;
}

.btn.btn-light-primary:hover:not(.btn-active) {
    color: #fff;
    background-color: #5a49f8 !important;
}


#page-id23 .content {
    padding-bottom: 0px;
}

#page-id8 .content {
    padding-bottom: 0px;
}

#page-id7 .content {
    padding-bottom: 0px;
}

a {
    color: #5a49f8;
}

.page-item.active .page-link {
    background-color: #5a49f8;
}


.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.btn-check:active + .btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g), .btn-check:checked + .btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-light-primary.active .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-light-primary.show .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-light-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-light-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-light-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .show > .btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.stepper.stepper-pills .stepper-item.completed .stepper-icon .stepper-check {
    color: #5a49f8 !important;
}

.btn.btn-light-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #5a49f8;
}

.stepper.stepper-pills .stepper-item.completed .stepper-icon {
    background-color: #f2f1ff;
}

.link-primary {
    color: #5a49f8;
}

.link-primary:focus, .link-primary:hover {
    color: #4235bb;
}

.stepper.stepper-pills .stepper-item.current .stepper-icon {
    background-color: #5a49f8;
}

.stepper.stepper-pills .stepper-item .stepper-icon {
    background-color: #f2f1ff;
}

.stepper.stepper-pills .stepper-item .stepper-icon .stepper-number {
    color: #5a49f8 !important;
}


#page-id32 .link-primary {
    font-size: 14px !important;
}

#page-id32 .text-gray-400 {
    font-size: 14px !important;
}

.deactivation {
    font-size: 14.3px !important;
    padding-top: 10.8px !important;
    padding-bottom: 10.7px !important;
}

.col-mybutton {
    max-width: fit-content !important;
}

#page-id24 .btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
    font-size: 1.15rem !important;
    font-weight: 500 !important;
}

#page-id20 .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    font-size: 1.15rem !important;
}

#page-id20 .text-gray-400 {
    font-size: 14px !important;
}

#page-id24 .text-gray-400 {
    font-size: 14px !important;
}

#page-id20

@media only screen and (max-width: 1199px) {

#page-id13 .ms-lg-15 {
    margin-left: 0px !important;
}
}

@media only screen and (max-width: 991px) {



.page-title {
    margin-top: 25px;
    margin-bottom: 20px;
}

.w-250px {
    width: 170px !important;
}

.min-w-100px {
    min-width: 115px !important;
}

#page-id1 .min-w-100px {
    min-width: 160px !important;
}

.mylead-mobil {
    display: block !important;
}

.col-mybutton {
        width: unset !important;
}


.buttonservice {
    font-size: 11px !important;
}

.p-6 {
    padding: 1.1rem !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.mytablewidth {
    min-width: 140px !important;
}

#page-id26 .mw-200px {
    max-width: 170px !important;
}

#page-id26 .card .card-header .card-toolbar {
    display: unset;
}

.mylead-mobil .btn {
    margin-bottom: 10px !important;
}


}


